<p>********* Result! *********</p>

<p>Your grid was:</p>
<p><%= @letters %></p>
<p>***************************</p>
<p>Your longest word is:</p>
<p><%= params[:word] %></p>

<%# ******** Now your results ********
Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done! %>

<%= link_to "Play again! :)", "/new" %>
